<span style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Employees:</span>

- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Name (string, not null)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">SSN (int(9), not null, primary key)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Address (string, not null)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Phone_Number (int(10), not null)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Date_Joined_Company (datetime, not null)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Department_ID (numeric)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Role (string)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Supervisor (string)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Salaried (boolean, not null)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Pay_Rate (float(6,2), not null)</span>
    
- <span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Vacation_Days (float)</span>

In [2]:
create table [Theme_Park].[Employee]
(
    fname varchar(20) not null,
    lname varchar(20) not null,
    ssn numeric(9) not null,
    gender char(1) not null,
    constraint CK_Employee_Gender check (gender in ('M', 'F')),
    constraint PK_Employee primary key (ssn),
    address varchar(50) not null,
    phone numeric(10) not null,
    date_joined date not null,
    dept_id int not null,
    role varchar(20),
    supervisor_ssn numeric(9),
    constraint FK_Employee_Supervisor foreign key (supervisor_ssn) references [Theme_Park].[Employee] (ssn),
    salaried bit not null,
    payrate money,
    vacation_days decimal(3,2),
)
go

This is testing code for adding a foreign key constraint to an existing table

In [ ]:
alter table [Theme_Park].[Employee]
add constraint FK_Employee_Department
foreign key (dept_id) references [Theme_Park].[Department] (dept_id)
on delete
GO