# A brief introduction to MS SQL

Here we are creating a schema on the database for a toy version of the Theme Park. We will also create a table to represent the Employee entity with a subset of the schema's actual columns.

First I'm going to delete all schema in the current test database.

In [1]:
DROP TABLE IF EXISTS [Theme_Park_Test].[Employee]
GO
DROP SCHEMA IF EXISTS [Theme_Park_Test]
GO

In [2]:
CREATE SCHEMA [Theme_Park_Test];

In [3]:
CREATE TABLE [Theme_Park_Test].[Employee]
    (
        Emp_ssn NUMERIC(9) NOT NULL,
        CONSTRAINT PK_Emp
            PRIMARY KEY (Emp_ssn),
        Emp_name VARCHAR(30) NOT NULL,
        Emp_address VARCHAR(50) NOT NULL,
        Emp_phone NUMERIC(10) NOT NULL,
        Emp_role VARCHAR(30),
        Emp_salaried BIT,
        Emp_email VARCHAR(30),
        Emp_payrate SMALLMONEY,
        Emp_start_date DATE NOT NULL,
        Emp_supervisor NUMERIC(9),
        CONSTRAINT FK_Emp_Supervisor FOREIGN KEY (Emp_supervisor)
            REFERENCES [Theme_Park_Test].[Employee] (Emp_ssn)
            ON DELETE NO ACTION
    );

Note that we have specified a primary key constraint on `Emp_ssn` and created `Emp_supervisor` as a foreign key to it. This code shows off some of the types that MS SQL gives us.

Let's try inserting values into the table and then SELECTing them:

In [4]:
INSERT INTO [Theme_Park_Test].[Employee] VALUES
(
    123456789,
    'John Doe',
    '6600 Wesleyan Street, Houston TX',
    7138889999,
    'Widget tester',
    1,
    'jdoe@acme.com',
    35000,
    GETDATE(),
    NULL
)

In [5]:
SELECT * FROM [Theme_Park_Test].[Employee];

Emp_ssn,Emp_name,Emp_address,Emp_phone,Emp_role,Emp_salaried,Emp_email,Emp_payrate,Emp_start_date,Emp_supervisor
123456789,John Doe,"6600 Wesleyan Street, Houston TX",7138889999,Widget tester,1,jdoe@acme.com,35000.00,2022-10-12,NULL

Let's try testing the foreign key constraint on `Emp_supervisor`:

In [6]:
UPDATE [Theme_Park_Test].[Employee] SET Emp_supervisor = 123456789 WHERE Emp_ssn = 123456789;

In [7]:
SELECT * FROM [Theme_Park_Test].[Employee];

Emp_ssn,Emp_name,Emp_address,Emp_phone,Emp_role,Emp_salaried,Emp_email,Emp_payrate,Emp_start_date,Emp_supervisor
123456789,John Doe,"6600 Wesleyan Street, Houston TX",7138889999,Widget tester,1,jdoe@acme.com,35000.00,2022-10-12,123456789

In [8]:
-- This will fail because 987654321 is not a SSN of an employee, violating referential integrity constraints
UPDATE [Theme_Park_Test].[Employee] SET Emp_supervisor = 987654321 WHERE Emp_ssn = 123456789;

: Msg 547, Level 16, State 0, Line 1
The UPDATE statement conflicted with the FOREIGN KEY SAME TABLE constraint "FK_Emp_Supervisor". The conflict occurred in database "cosc3380_test1", table "Theme_Park_Test.Employee", column 'Emp_ssn'.